<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create | Update coffee product</title>
</head>
<body>
<h1>Create | Update coffee product</h1>

<!--TEST THU THONG TIN LOAD DUNG KHONG-->
<h2 th:text="${ariana.name}">test</h2>

<!--CAN 1 FORM, DE NHAN NUT SAVE THI LUU TOAN BO INFO SAN PHAM TRONG O NHAP-->
<!--FORM VA O NHAP LIEU-->

<!--<form th:action="@{/products/save}" th:object="${product}" method="post">-->

<form th:action="@{/products/save}" method="post" th:object="${ariana}">
    <p>
        <label for="id">Product id:</label>
        <input type="text" th:field="*{id}" placeholder="Enter product name" id="id"/>
    </p>
    <p>
        <label for="name">Product name:</label>
        <input type="text" th:field="*{name}" placeholder="Enter product name" id="name"/>
    </p>
    <p>
        <label for="price">Product price:</label>
        <input type="text" th:field="*{price}" placeholder="Enter product name" id="price"/>
    </p>
<!--    <p>-->
<!--        <label for="cate">Category:</label>-->
<!--        <select name="cate" id="cate">-->
<!--            <option value="100">Tra sua</option>-->
<!--            <option value="200" selected="true">Cafe sua</option>-->
<!--            <option value="300">Sinh to</option>-->
<!--            <option value="400">Nuoc ep</option>-->
<!--        </select>-->
<!--    </p>-->

    <p>
        <label for="cate">Category:</label>
        <select name="cateId" id="cate">
            <option th:each="x : ${cates}"
                    th:text="${x.name}"
                    th:value="${x.id}"
                    th:selected="${x.id == 200}"
                    >Tra sua se bi thay the</option>
        </select>
    </p>


    <p>
        <button type="submit">Save</button>
    </p>
</form>



</body>
</html>